<!DOCTYPE html>
<router-outlet>
  <app-header />
  <main>
    <ul id="users">
      <li>
        <app-user [user]="users[0]" (select)="selectUserTasks($event)" />
      </li>
      <li>
        <app-user [user]="users[1]" (select)="selectUserTasks($event)" />
      </li>
      <li>
        <app-user [user]="users[2]" (select)="selectUserTasks($event)" />
      </li>
      <li>
        <app-user [user]="users[3]" (select)="selectUserTasks($event)" />
      </li>
    </ul>
    <app-tasks [name]="SelectedUser.name"></app-tasks>
  </main>
</router-outlet>
